<div class="card">
  <div class="card-header text-bg-primary"><h3>About Us</h3></div>
  <div class="card-body">
    <p class="card-text">
      Welcome to the Dividend Income Calculator, this is a project of mine using Ruby on Rails and Bootstrap styling to implement CRUD (Create-Read-Update-Delete) as well as get comfortable with the MVC (Model-View-Controller). 
      <br/><br/>
      Thank you for taking the time to visit my site. My name is Devon. I'm an aspiring junior developer specializing in Ruby, Javascript & Python and I enjoy learning other programming languages as well. Enjoy your stay!
      <br/><br/>
      - Devon
    </p>
  </div>
</div>