<div class="card">
  <div class="card-header text-bg-info"><h3>About Us</h3></div>
  <div class="card-body">
    <p class="card-text">Welcome to the Dividend Income Calculator, this is a project of mine using Ruby on Rails, Bootstrap styling and a Third-party API. Thank you for taking the time to visit my site. My name is Devon and I'm an aspiring junior developer specializing in Ruby, Javascript and Python but I enjoy learning other programming languages as well. Enjoy your stay!

    <br/><br/>- Devon
    </p>
  </div>
</div>